<!--

    This file is part of huborcid.

    huborcid is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    huborcid is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with huborcid.  If not, see <http://www.gnu.org/licenses/>.

-->
<div>

    <h2 translate="huborcidApp.token.home.title">Tokens</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveTokenModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="huborcidApp.token.home.createLabel">Create a new Token</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveTokenModal" tabindex="-1" role="dialog" aria-labelledby="myTokenLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myTokenLabel" translate="huborcidApp.token.home.createOrEditLabel">Create or edit a Token</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="token.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="huborcidApp.token.dateReleased">DateReleased</label>
                            <input type="datetime-local" class="form-control" name="dateReleased"
                                   ng-model="token.dateReleased" ng-model-options="{timezone: 'UTC'}">

                        </div>
                        <div class="form-group">
                            <label translate="huborcidApp.token.dateUsed">DateUsed</label>
                            <input type="datetime-local" class="form-control" name="dateUsed"
                                   ng-model="token.dateUsed" ng-model-options="{timezone: 'UTC'}">

                        </div>
                        <div class="form-group">
                            <label translate="huborcidApp.token.ott">Ott</label>
                            <input type="text" class="form-control" name="ott"
                                   ng-model="token.ott">

                        </div>
                        <div class="form-group">
                            <label translate="huborcidApp.token.urlCallback">UrlCallBack</label>
                            <input type="text" class="form-control" name="urlCallback"
                                   ng-model="token.urlCallback">

                        </div>
                        <div class="form-group">
                            <label translate="huborcidApp.token.orgUnit">OrgUnit</label>
                            <input type="text" class="form-control" name="orgUnit"
                                   ng-model="token.orgUnit">

                        </div>

                        <div class="form-group">
                            <label translate="huborcidApp.token.person">person</label>
                            <select class="form-control" name="person" ng-model="token.person.id" ng-options="person.id as person.localID for person in persons">
                            </select>
                        </div>
                        <div class="form-group">
                            <label translate="huborcidApp.token.application">application</label>
                            <select class="form-control" name="application" ng-model="token.application.id" ng-options="application.id as application.applicationID for application in applications">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteTokenConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(token.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="huborcidApp.token.delete.question" translate-values="{id: '{{token.id}}'}">Are you sure you want to delete this Token?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="huborcidApp.token.dateReleased">DateReleased</th>
                    <th translate="huborcidApp.token.dateUsed">DateUsed</th>
                    <th translate="huborcidApp.token.ott">Ott</th>
                    <th translate="huborcidApp.token.urlCallback">UrlCallBack</th>
                    <th translate="huborcidApp.token.orgUnit">OrgUnit</th>
                    <th translate="huborcidApp.token.person">person</th>
                    <th translate="huborcidApp.token.application">application</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="token in tokens">
                    <td><a ui-sref="tokenDetail({id:token.id})">{{token.id}}</a></td>
                    <td>{{token.dateReleased}}</td>
                    <td>{{token.dateUsed}}</td>
                    <td>{{token.ott}}</td>
                    <td>{{token.urlCallback}}</td>
                    <td>{{token.orgUnit}}</td>
                    <td>{{token.person.localID}}</td>
                    <td>{{token.application.applicationID}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="tokenDetail({id:token.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="showUpdate(token.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(token.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
