<!--

    This file is part of huborcid.

    huborcid is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    huborcid is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with huborcid.  If not, see <http://www.gnu.org/licenses/>.

-->
<div>

    <h2 translate="huborcidApp.reportOrcidWorks.home.title">Upload file of works</h2>
  	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
				<form name="form">
					<div class="btn btn-primary" ngf-accept="'.xls'" ngf-select="upload($file)"><span translate="huborcidApp.reportOrcidWorks.home.uploadFile">Upload file</span></div>
			  </form>
            </div>
        </div>
    </div>
    
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="huborcidApp.reportOrcidWorks.fileNameUpload">File name upload</th>
                    <th translate="huborcidApp.reportOrcidWorks.status">Status</th>
                    <th translate="huborcidApp.reportOrcidWorks.withErrors">With errors</th>
                    <th translate="huborcidApp.reportOrcidWorks.downloadFileResult">Download file result</th>
                    <th translate="huborcidApp.reportOrcidWorks.dateUpload">Date upload</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="resultOrcidWork in resultOrcidWorks">
                    <td>{{resultOrcidWork.fileNameUpload}}</td>
                    <td><span translate="huborcidApp.reportOrcidWorks.statusValue.{{resultOrcidWork.status}}">{{resultOrcidWork.status}}</span></td>
                    <td><span translate="huborcidApp.reportOrcidWorks.withErrorsValue.{{resultOrcidWork.withErrors}}" translate-default="">{{resultOrcidWork.withErrors}}</span></td>
                    <td>
                   		<div ng-show="'{{resultOrcidWork.status}}' == 'COMPLETED'">
                    		<a ng-href="/api/reportOrcidWorks/downloadExcelResult/{{resultOrcidWork.id}}" download="result_{{resultOrcidWork.id}}.xls">
                   	 			<span translate="huborcidApp.reportOrcidWorks.btnDownloadFileResult">Download</span>
                    		</a>
                    	</div>
                    </td>		 
                    <td>{{resultOrcidWork.createdDate | date:'dd/MM/yyyy h:mm a'}}</td>
                </tr>    
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
    
</div>
